# Shark Attacks analisys

In [1]:
ls

Criando_Repositorio.pdf
Week_1/
Week_2/
Week_3/
Week_4/
Week_5/
Week_6/
Week_7/
attacks.csv
beginners_python_cheat_sheet_pcc_all.pdf
data-prework-master/
ironhack-assets-main/
shark_attack_analisys.ipynb

In [4]:
import pandas as pd
import re
import numpy as np

In [21]:
df = pd.read_csv('/Users/tiemi/Documents/Ironhack/attacks.csv', ',')

## Data Cleaning

In [17]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [22]:
list1=['Year', 'Country']

In [23]:
df=df[list1]

In [15]:
df=df.dropna()

In [14]:
df=df.drop(df.Year[0.0])

In [24]:
df.size

51446

In [10]:
df.sort_values('Year', inplace=True)

In [25]:
df.describe()

              Year
count  6300.000000
mean   1927.272381
std     281.116308
min       0.000000
25%    1942.000000
50%    1977.000000
75%    2005.000000
max    2018.000000

In [27]:
df.head(20)

      Year       Country
0   2018.0           USA
1   2018.0           USA
2   2018.0           USA
3   2018.0     AUSTRALIA
4   2018.0        MEXICO
5   2018.0     AUSTRALIA
6   2018.0        BRAZIL
7   2018.0           USA
8   2018.0           USA
9   2018.0           USA
10  2018.0     AUSTRALIA
11  2018.0           USA
12  2018.0           USA
13  2018.0       ENGLAND
14  2018.0     AUSTRALIA
15  2018.0  SOUTH AFRICA
16  2018.0     AUSTRALIA
17  2018.0      THAILAND
18  2018.0    COSTA RICA
19  2018.0     AUSTRALIA

## Número de casos nos anos 97 e 98

In [12]:

year=list()

for item in df.Year:
    if item==1997.0:
        year.append(item)
    elif item==1998.00:
        year.append(item)
    
year.count(1997.0)

57

In [203]:
year.count(1998.0)

38

 Temos 36 casos de ataques no ano de 1997 e 38 em 1998.
 
 Total de 74 ataques no durante o EL nino.

## Número de casos nos anos 99 e 2000

In [198]:
year=list()

for item in df.Year:
    if item==1999.0:
        year.append(item)
    elif item==2000.00:
        year.append(item)
    
print(year.count(1999.0))
print(year.count(2000.0))

50
64

Total de 114 casos nos dois anos seguintes.

In [195]:
df.head()

      Year       Country
6296   0.0     AUSTRALIA
6294   0.0     AUSTRALIA
6276   0.0        BELIZE
6274   0.0         ITALY
6267   0.0  SAUDI ARABIA

In [152]:
## Procurar por paises

paises=list()


for country in df.Country:
    if country == 'USA':
        paises.append(country)

In [159]:
paises.count('USA')

1323